.score {
    border: 1px solid gray;
    width: 30px;
    height: 35px;
    padding: 7px 0px 0px 0px;
    text-align: center;
    vertical-align: middle;
    margin-right: 2px;
    margin-bottom: 2px
}

.saque {
    width: 10px;
    height: 10px;
    border-radius: 10px;
    margin-top: 8px;
    margin-right: 2px;
}

.receiving {
    background-color: transparent;
}

.serving {
    background-color: yellowgreen;
}

.score.match {
    background-color: #54008b;
    color: white;
    margin-right: 5px;
}

.score.set {
    background-color: white;
    color: #54008b;
}

.score.tiebreak.finished {
    position: relative;
    top: -0.5em;
    font-size: 80%;
}

.score.tiebreak {
    background-color: #00703c;
    color: white;
}

.score.normal {
    background-color: #00703c;
    color: white;
}

