<ng-container *ngIf="match">
  <p-panel>
    <p-header>
      <span>Controlar Partida - {{match.championship.name}}</span>
      <button pButton type="button" icon="pi pi-times" (click)="goBack()" style="float: right" class="ui-button-primary"></button>
      <div>
        {{match.startDate | date : 'dd/MM/yy HH:mm'}} - {{match.endDate | date : 'dd/MM/yy HH:mm'}}
      </div>
      <div *ngIf="match.finished">
        Vencedor: {{match.winner == 0 ? match.playerA.name : match.playerB.name}}
      </div>
    </p-header>

    <div class="ui-g">
      <div class="ui-g-12">
        <tsm-match-score [match]="match"></tsm-match-score>
      </div>
    </div>
    <div class="ui-g">
      <div class="ui-g-12">
        <button [disabled]="undo.length == 0" pButton type="button" class="ui-button-warning"
          label="Eventos: {{undo.length}} - desfazer o Ultimo"
          (click)="undoLastEvent()"></button>
      </div>
    </div>
    <div class="ui-g" *ngIf="!matchLocked && !match.finished">

      <div class="ui-g-6 ui-sm-12">
        <tsm-match-events (event)="onEvent($event)" [match]="match" [player]="match.playerA"></tsm-match-events>
      </div>

      <div class="ui-g-6 ui-sm-12">
        <tsm-match-events (event)="onEvent($event)" [match]="match" [player]="match.playerB"></tsm-match-events>
      </div>
    </div>
  </p-panel>
</ng-container>