<ng-container *ngIf="match">
  <p-panel>
    <p-header>
      <button pButton type="button" icon="pi pi-times" (click)="goBack()" style="float: right" class="ui-button-primary"></button>
      <div>{{match.championship.name}}</div>
      <div *ngIf="!match.events">
        {{match.playerA.name}} x {{match.playerB.name}}
      </div>
      <div *ngIf="match.controller">
        Controlada por - {{match.controller.name}}
      </div>
      <div *ngIf="!match.controller">
        Ninguém está controlando essa partida
      </div>
      <div>
        {{match.startDate | date : 'dd/MM/yy HH:mm'}} - {{match.endDate | date : 'dd/MM/yy HH:mm'}}
      </div>
      <div *ngIf="match.finished">
        Vencedor: {{match.winner == 0 ? match.playerA.name : match.playerB.name}}
      </div>
    </p-header>

    <div class="ui-g" *ngIf="match.events">
      <div class="ui-g-4 ui-sm-12">
        <tsm-match-score [match]="match"></tsm-match-score>
      </div>
      <div class="ui-g-4 ui-sm-12">
        <tsm-stats [match]="match"></tsm-stats>
      </div>
      <div class="ui-g-4 ui-sm-12">
        <tsm-list-events [match]="match"></tsm-list-events>
      </div>
    </div>
  </p-panel>
</ng-container>