<div class="ui-g">
  <div class="ui-g-12">
    <p-panel>
      <p-header>
        <button pButton type="button" [routerLink]="['/matches', 'new']" label="Criar Nova Partida"></button>
      </p-header>
      <ng-container *ngIf="matches">

          <div class="ui-inputgroup" *ngFor="let matchItem of matches.list">
            <input type="text" readonly pInputText [value]="matchItem.matchName">
            <button [routerLink]="['/matches', matchItem.matchId]" pButton icon="pi pi-check" label="Assistir" class="ui-button-success"></button>
              <button [routerLink]="['/matches', matchItem.matchId, 'control']" pButton icon="pi pi-check-circle" label="Controlar" class="ui-button-primary"></button>
          </div>

      </ng-container>
    </p-panel>
  </div>
</div>