<div class="ui-g" *ngFor="let player of [0, 1]">
    <div class="ui-g-12 score match">{{match.score[player]}}</div>
    <ng-container *ngFor="let set of match.sets; let i=index">
      <div class="ui-g-12 score set">{{set.score[player]}}</div>
      <div *ngIf="lastGame(set).tiebreak" class="ui-g-12 score tiebreak" class.finished="set.finished">
        {{lastGame(set).score[player]}}
      </div>
      <div *ngIf="i === match.sets.length - 1 && !lastGame(set).tiebreak" class="ui-g-12 score normal">
        {{lastGame(set) | gameScore : player}}
      </div>
    </ng-container>
  </div>