/* You can add global styles to this file, and also import other style files */
.buttons > button {
    margin-right: 3px;
}

.ui-panel-titlebar .ui {
    background-color: #54008b !important;
}

.ui-panel-title {
    color: white !important;
}